<div class="row">
  <div class="container">
    <div class="col-md-11">
      <h1>タスク一覧</h1>
      <div class="new-btn">
        <%= link_to "タスク新規作成", '#', class: "btn btn-lg btn-primary" %>
      </div>
    </div>
  </div>
</div>