<div class="row">
  <div class="col-md-11">
    <h1 class="tasks-title"><%= current_user.name %>のタスク一覧</h1>
    <div class="new_task_button">
      <%= link_to "タスク新規作成", '#', class: "btn btn-lg btn-primary" %>
    </div>
  </div>

</div>