#table-task th {
  text-align: center;
}

#table-task td {
  text-align: left;
}

#task-name {
  font-size: 1.8rem;
}

#table-tasks {
  th {
    vertical-align: middle;
    text-align: left;
  }
  td {
    vertical-align: middle;
    text-align: left;
  }
}